/* Importing the 'Inter' font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Basic styling for the body and root elements */
body {
    font-family: 'Inter', sans-serif;
}

/* Custom scrollbar styling for the lap times section */
#lap-list {
    overflow-y: auto;
    max-height: 200px; /* Limits the height of the lap list */
}

/* For WebKit browsers (Chrome, Safari) */
#lap-list::-webkit-scrollbar {
    width: 8px;
}

#lap-list::-webkit-scrollbar-track {
    background: #1a202c;
    border-radius: 10px;
}

#lap-list::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 10px;
}

#lap-list::-webkit-scrollbar-thumb:hover {
    background: #60758a;
}
